*{
    margin: 0;
    padding: 0;
}

nav{
    width: 100%;
    
}
.navbar{
    padding: 1.2rem;

}
.nav-head{
    color: yellow;
    font-weight: bold;
    border-radius: 2px;
    font-size: 1.5rem;
}
.nav-head:hover{
    color: yellow;
    font-weight: bold;
    text-decoration: none;
}
.navbar-toggler-icon{
    color: white;
}
.navbar-toggler{
    background-color: Red;
}

.navbar-nav li {
  padding-left: 30px;

}
.nav-link {
  font-size: 1;
  font-weight: bolder;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.nav-link:hover{
  color: yellow;
  font-weight: bold;
  text-decoration: underline;
}
.nav-item, active {
    color: yellow;
}


.box {
    background-image: url(/img/Hero.png);
    height: 700px;
    width: auto;
    background-position: center;
    background-size: cover;
}

.wrap {
    background-image: url(/img/Frame\ 1.png);
    height: 700px;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.head {
    font-size: 2rem;
}

.head {
    font-size: 2rem;
    text-align: center;
}
.line {
    
    border: none; 
    height: 6px; 
    background: yellow; 
   width: 80px;
}
.line2 {
    position: relative;  
    border: none; 
    height: 8px; 
    background:#EBC154; 
   width: 100px;
   align-self: center;
   margin-left: 170px;
}
.line3 {
    position: relative;  
    border: none; 
    height: 8px; 
    background:#EBC154; 
   width: 150px;
   align-self: center;
   margin-left: 570px;
}
.line4 {
    position: relative;  
    border: none; 
    height: 3px; 
    background:#EBC154; 
   width: 150px;
   margin-left: 570px;
}
.line5 {
    position: relative;  
    border: none; 
    height: 3px; 
    background:#EBC154; 
   width: 130px;
   margin-left: 590px;
}

.igm {
 width: 100%;
}

.txt {
    color: #EBC154;
    font-size: large;
    bottom: 14px;
}
.arrow {
    font-size: 30px;
    width: 5rem;
    color: #EBC154;
    align-self: baseline;
}
.lead1 {
   text-align: center;
   text-justify: distribute-all-lines;
}
.lead2 {
   text-align: start;
   font-weight: bold;
}
.warp {
    font-size: 2.2rem;
    margin-left: 15px;
    font-weight: 200;
    font-size: 40px;
    top: 5px;
    text-align: center;
}
h6 {
    text-align: center;
    font-size: 2rem;
}
.hel {
    align-self: flex-start;
}
.AboutUs-landing {
    text-align: center;
}

.hotels-footer{
    width: 100%;
}
.circle {
    font-weight: bolder;
    font-size: large;
}
footer {
    margin-top: 250px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/about-video.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 60px 0 30px;
    width: 100%;
}

footer input.form-control {
    border: 1px solid #fff;
    background-color: rgba(0, 0, 0, 0) !important;
    color: #fff !important;
    width: 100%;
}

footer .footer-btn {
    background-color: #EBC154;
    color: #fff;
    width: auto;
    font-size: 22px;
    font-weight: bold;
}

footer input.form-control:focus {
    outline: none !important;

}

.footer-nav-link {
    font-size: 16px;
    color: #fff;
}

footer hr {
    border: 0.5px solid #fff;
    margin-top: 0;
}

footer .social-icons div {
    background-color: #EBC154;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

footer .social-links i {
    color: #fff;
    font-size: 18px;
}

footer .footer-navigation {
    padding: 0 40px;
    margin-top: 92px;
}



@media (max-width:768px){
    .line4 {
        position: relative;  
        border: none; 
        height: 3px; 
        background:#EBC154; 
       width: 150px;
       margin-left: 310px;
    }
    .line2 {
        position: relative;  
        border: none; 
        height: 8px; 
        background:#EBC154; 
       width: 100px;
       align-self: center;
       margin-left: 310px;
    }
    .navbar-nav li {
        padding-left: 18px;
      
      }
      .line5 {
        position: relative;  
        border: none; 
        height: 3px; 
        background:#EBC154; 
       width: 130px;
       margin-left: 310px;
    }
      

.box {
    background-image: url(/img/Hero.png);
    height: 700px;
    width: 100%;
    background-position: center;
    background-size: cover;
}
.circ {
    width: 100%;
}
}





@media only screen and (max-width: 752px) {
    
.box {
    background-image: url(/img/Hero.png);
    height: 700px;
    width: auto;
    background-position: center;
    background-size: cover;
}
    .cardholder .room-card {
        width: 100%;
    }
    .form-input {
        border-radius: 15px;
        width: 100%;
        padding: 5px;
    }
    .navbar-nav.ml-auto {
        width: 100%;
        background: rgba(0, 0, 0, 5);
    }
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
      }
      
      .navbar .navbar-collapse {
        text-align: center;
      }
      .circ {
        width: auto;
    }
}

@media (max-width:414px){
    .line4 {
        position: relative;  
        border: none; 
        height: 3px; 
        background:#EBC154; 
       width: 150px;
       margin-left: 90px;
    }
    .line2 {
        position: relative;  
        border: none; 
        height: 8px; 
        background:#EBC154; 
       width: 100px;
       align-self: center;
       margin-left: 90px;
    }
    .line5 {
        position: relative;  
        border: none; 
        height: 3px; 
        background:#EBC154; 
       width: 150px;
       margin-left: 130px;
    }
    .circ {
        width: auto;
    }
}

@media (max-width:360px){
    .line4 {
        position: relative;  
        border: none; 
        height: 3px; 
        background:#EBC154; 
       width: 150px;
       margin-left: 90px;
    }
    .line2 {
        position: relative;  
        border: none; 
        height: 8px; 
        background:#EBC154; 
       width: 100px;
       align-self: center;
       margin-left: 110px;
    }
    .line5 {
        position: relative;  
        border: none; 
        height: 3px; 
        background:#EBC154; 
       width: 150px;
       margin-left: 100px;
    }
  

    }